.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.slideshow-wrapper {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

.slide-img {
  max-width: 1000px;
}
